<header class="navbar-fixed site-header-wrap">
    <nav id="headNav" class="site-header-shell">
        <div id="navContainer" class="nav-wrapper container nav-row">
            <%- partial('_partial/navigation') %>
        </div>
    </nav>
</header>
